<footer class="footer">
    <div class="footer-links">
        <div class="footer-link-coloumn">
            <h5 class="footer-link-heading">For Talent</h5>
            <a href="#" class="footer-link">How to Find Work</a>
            <a href="#" class="footer-link">Showcase</a>
            <a href="#" class="footer-link">Contests</a>
            <a href="#" class="footer-link">Get Verified</a>
            <a href="#" class="footer-link">Categories</a>
        </div>
        <div class="footer-link-coloumn">
            <h5 class="footer-link-heading">Resources</h5>
            <a href="#" class="footer-link">Help & Support</a>
            <a href="#" class="footer-link">Success Stories</a>
            <a href="#" class="footer-link">Reviews</a>
            <a href="#" class="footer-link">Resources</a>
            <a href="#" class="footer-link">Blog</a>
            <a href="#" class="footer-link">Referral Program</a>
            <a href="#" class="footer-link">Community</a>
        </div>
        <div class="footer-link-coloumn">
            <h5 class="footer-link-heading">For Clients</h5>
            <a href="#" class="footer-link">How to Hire</a>
            <a href="#" class="footer-link">Talent Marketplace</a>
            <a href="#" class="footer-link">Project Catalog</a>
            <a href="#" class="footer-link">Enterprise</a>
        </div>
        <div class="footer-link-coloumn">
            <h5 class="footer-link-heading">Company</h5>
            <a href="#" class="footer-link">About Us</a>
            <a href="#" class="footer-link">Contact Us</a>
            <a href="#" class="footer-link">Mission</a>
            <a href="#" class="footer-link">Trust, Safety & Security</a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="app-name">
            <p>© 2023 - Present <span class="stark">Stark®</span></p>
        </div>
        <div class="legal">
            <a href="#">Terms Of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>