<nav class="navbar">
    <div class="logo-holder">
        <img src="/images/logo.png" alt="logo">
    </div>
    <div class="nav-links">
        <div class="nav-link-item">
            <a href="/afterhome">Home</a>
        </div>
        <div class="nav-link-item">
            <a href="/services">Services</a>
        </div>
        <div class="nav-link-item">
            <a href="#">Tasks</a>
            <div class = "dropdown">
                <ul style="list-style-type:none;">   
                <li><a href="#">Challenging Tasks</a></li>
                  <li><a href="#">Certification Tasks</a></li> 
                   <li><a href="#">Practice Tasks</a></li> 
                   <li><a href="#"> Tutorial </a></li>
                </ul>
            </div>
        </div>
        <a href="/afterhome#FAQ">
        <div class="nav-link-item">
            FAQ
        </div>
    </a>
        <div class="nav-link-item">
            <a href="/connect">Connect</a>
        </div>  
    </div>
    <div class="login-btn-container">
        <% if(locals.userName) { %>
        <a href="/profile" style="text-decoration: none;"> 
            <div id="login-btn">
                <%= locals.userName %>
            </div>
        </a>
        <% } else { %>
        <a href="/login">
            <div id="login-btn">
                LOGIN
            </div>
        </a>
        <% } %>
    </div>
    <div class="hamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
</nav>
<section class="hamburger-menu">
    <div class="hamburger-links">
        <div class="nav-link-item">
            <a href="#">Home</a>
        </div>
        <div class="nav-link-item">
            <a href="#">Services</a>
        </div>
        <div class="nav-link-item">
            <a href="#">Tasks</a>
            <div class = "dropdown">
                <ul style="list-style-type:none;">   
                <li><a href="#">Challenging Tasks</a></li>
                  <li><a href="#">Certification Tasks</a></li> 
                   <li><a href="#">Practice Tasks</a></li> 
                </ul>
            </div>
        </div>
        <div class="nav-link-item">
            <a href="#">FAQ</a>
        </div>
        <div class="nav-link-item">
            <a href="#">Connect</a>
        </div>
    </div>
    <div class="hamburger-login-btn-container">
        <p>Already a user? <a href="">Login</a></p>
        <div id="hamburger-login-btn">Get Started -></div>
    </div>  
</section>