<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile card</title>
    <link rel="stylesheet" href="css/profile1.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-in">
                <div class="front">
                    <h2>Rishabh Kumar</h2>
                    <p>Web Developer</p>
                </div>
                <div class="back">
                    <img src="../images/hola (1).png"alt="">
                    <h1>Rishabh <span>Kumar</span></h1>
                    <p>I'm a student currently studying <span>@VIT</span>.</p>
                    
                    <div class="row">
                        <button>Visit</button>
                        <a href="https://github.com/Kan1shak/Stark"><img src="../images/github-mark.png"></a>
                        <a href="https://in.linkedin.com/"><img src="../images/pngwing.com.png"></a>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    
</body>
</html>