<html>
    <head>
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/universal.css">
        <link rel = "stylesheet" href="css/services.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="index.js" defer ></script>
    </head>
    <body>
        <nav class="navbar" style="position: static;">
            <div class="logo-holder">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="nav-links">
                <div class="nav-link-item">
                    <a href="/">Home</a>
                </div>
                <div class="nav-link-item">
                    <a href="/services">Services</a>
                </div>
                <div class="nav-link-item">
                    <a href="#">Tasks</a>
                    <div class = "dropdown">
                        <ul style="list-style-type:none;">   
                        <li><a href="#">Challenging Tasks</a></li>
                          <li><a href="#">Certification Tasks</a></li> 
                           <li><a href="#">Practice Tasks</a></li> 
                           <li><a href="#"> Tutorial </a></li>
                        </ul>
                    </div>
                </div>
                <a href="/#FAQ">
                <div class="nav-link-item">
                    FAQ
                </div>
            </a>
                <div class="nav-link-item">
                    <a href="connect">Connect</a>
                </div>  
            </div>
            <div class="login-btn-container">
                <a href="/login"><div id="login-btn">LOGIN</div></a>
            </div>
            <div class="hamburger">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </nav>
        <section class="hamburger-menu">
            <div class="hamburger-links">
                <div class="nav-link-item">
                    <a href="/">Home</a>
                </div>
                <div class="nav-link-item">
                    <a href="/services">Services</a>
                </div>
                <div class="nav-link-item">
                    <a href="#">Tasks</a>
                    <div class = "dropdown">
                        <ul style="list-style-type:none;">   
                        <li><a href="#">Challenging Tasks</a></li>
                          <li><a href="#">Certification Tasks</a></li> 
                           <li><a href="#">Practice Tasks</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="nav-link-item">
                    <a href="/#FAQ">FAQ</a>
                </div>
                <div class="nav-link-item">
                    <a href="/connect">Connect</a>
                </div>
            </div>
            <div class="hamburger-login-btn-container">
                <p>Already a user? <a href="login.html">Login</a></p>
                <div id="hamburger-login-btn">Get Started -></div>
            </div>  
        </section>

        <section class="services-container">
            <div class="text">
                Popular Services
            </div>
            <div class="services-sub-heading">
                <p>Browse from one of these popular services to find exactly what you are looking for.  </p>
            </div>
            <div class ="services">
            <div class ="cards card">
                <div class="overlay">
                    <div>
                        
                        <h1 class ="title"> AI Artists </h1>
                        <h3 class="disc">Add talent to AI</h3>
                    </div>
                </div>
            </div>
            <div class ="cards1 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title"> Logo Design </h1>
                        <h3 class="disc">Brand Your Company</h3>
                    </div>
                </div>
            </div>
            <div class ="cards2 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title"> WordPress </h1>
                        <h3 class="disc">Customize Your Site</h3>
                    </div>
                </div>
            </div>
            <div class ="cards3 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title"> Voice Over</h1>
                        <h3 class="disc">Share Your Message</h3>
                    </div>
                </div>
            </div>
            <div class ="cards4 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title"> Video Explainer </h1>
                        <h3 class="disc">Increase the Engagement</h3>
                    </div>
                </div>
            </div>
            <div class ="cards5 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title"> Translation </h1>
                        <h3 class="disc">Go Global</h3>
                    </div>
                </div>
            </div>
            <div class ="cards6 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title"> Social Media </h1>
                        <h3 class="disc">Reach More Customers</h3>
                    </div>
                </div>
            </div>
            <div class ="cards7 card">
                <div class="overlay">
                    <div>
                        <h1 class ="title">Data Entry </h1>
                        <h3 class="disc">Learn Your Business</h3>
                    </div>
                </div>
            </div>
            </div>
            <div class ="more">
                <a href="#" class="btn btn-white btn-animate">See More</a> 
            </div>
        </section>

        <footer class="footer">
            <div class="footer-links">
                <div class="footer-link-coloumn">
                    <h5 class="footer-link-heading">For Talent</h5>
                    <a href="#" class="footer-link">How to Find Work</a>
                    <a href="#" class="footer-link">Showcase</a>
                    <a href="#" class="footer-link">Contests</a>
                    <a href="#" class="footer-link">Get Verified</a>
                    <a href="#" class="footer-link">Categories</a>
                </div>
                <div class="footer-link-coloumn">
                    <h5 class="footer-link-heading">Resources</h5>
                    <a href="#" class="footer-link">Help & Support</a>
                    <a href="#" class="footer-link">Success Stories</a>
                    <a href="#" class="footer-link">Reviews</a>
                    <a href="#" class="footer-link">Resources</a>
                    <a href="#" class="footer-link">Blog</a>
                    <a href="#" class="footer-link">Referral Program</a>
                    <a href="#" class="footer-link">Community</a>
                </div>
                <div class="footer-link-coloumn">
                    <h5 class="footer-link-heading">For Clients</h5>
                    <a href="#" class="footer-link">How to Hire</a>
                    <a href="#" class="footer-link">Talent Marketplace</a>
                    <a href="#" class="footer-link">Project Catalog</a>
                    <a href="#" class="footer-link">Enterprise</a>
                </div>
                <div class="footer-link-coloumn">
                    <h5 class="footer-link-heading">Company</h5>
                    <a href="#" class="footer-link">About Us</a>
                    <a href="#" class="footer-link">Contact Us</a>
                    <a href="#" class="footer-link">Mission</a>
                    <a href="#" class="footer-link">Trust, Safety & Security</a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="app-name">
                    <p>© 2023 - Present <span class="stark">Stark®</span></p>
                </div>
                <div class="legal">
                    <a href="#">Terms Of Service</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </footer>
</body>
</html>