
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}


html {
  font-size: 10px;
}


:root {
  /* ///////  Font Color  /////// */
  --f1-color: #fff;
  --f2-color: #000;
  --f3-color: rgba(0, 0, 0, 0.8);
  --f4-color: rgba(0, 0, 0, 0.6);
  --f5-color: #0099cc;
  --f6-color: #88cee6;

  /* ////// Background Color  ///// */
  --bg1-color: #fff;
  --bg2-color: #000;
  --bg3-color: #33ccff;
  --bg4-color: #33cc33;
  --bg5-color: #0099cc;
  --bg6-color: rgba(0, 0, 0, 0.4);
  --bg7-color: rgba(0, 0, 0, 0.2);
  --glass-bg: transparent 90%;
  --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);

  /* /////  Font Size  //// */
  --xxxl-fs: 2.2rem;
  --xxl-fs: 1.8rem;
  --xl-fs: 1.6rem;
  --l-fs: 1.4rem;
  --m-fs: 1.2rem;
  --s-fs: 1.1rem;
  --xs-fs: 1rem;

  /* ////  Margin  //// */
  --m-2-5: 2.5rem;
  --m-1-8: 1.8rem;
  --m-1-5: 1.5rem;
  --m-0-6: 0.6rem;
  --m-0-5: 0.5rem;
  --m-0-3: 0.3rem;

  /* /////  Padding  ///// */
  --p-2-5: 2.5rem;
  --p-1-5: 1.5rem;
  --p-1-0: 1rem;
  --p-0-8: 0.8rem;
  --p-0-5: 0.5rem;
  --p-0-4: 0.4rem;
  --p-0-3: 0.3rem;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}


.main_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 1.2%, rgb(63, 61, 61) 40.9%);
  
}


.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
  width: 85%;
  background: var(--glass-bg);
  padding: var(--p-1-5);
  gap:20px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}


header {
  grid-area: header;
}

.userProfile {
  grid-area: userProfile;
}

.work_skills {
  grid-area: work_skills;
}

.userDetails {
  grid-area: userDetails;
}

.timeline_about {
  grid-area: timeline_about;
}

/* //////  Container Cards Css  ///////// */
.container .card {
  background: var(--glass-bg);
  backdrop-filter: blur(3rem);
  border-radius: 2.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.151);
  border: 1px solid rgba(0, 0, 0, 0.363);
  padding: var(--p-1-5);
}

.container .card.userProfile {
  border: 0px solid black;
}

/* /////////// LOGO //////// */
.container header {
  padding: 0 0.5rem 0 2.5rem;
}


.brandLogo figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header .brandLogo a:not(:first-child) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}

.container header .brandLogo figure img {
  width: 10.5rem;
  height: 3.5rem;
}

.container header .brandLogo span {
  font-size: var(--xl-fs);
  font-weight: 700;
  margin-left: var(--m-0-5);
}

/* ////// User Main-Profile   //////// */
.container .userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40vh;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  color:#fff;
}

.container .userProfile .profile figure img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
}

/* /////// Work & Skills /////// */
.container .work_skills {
  padding: var(--p-1-5);
}

.work_skills .work .heading,
.work_skills .skills .heading {
  position: relative;
  font-size: 1.9rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: var(--m-1-5);
}

.work_skills .work .heading::before,
.work_skills .skills .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 100%;
  background: #fff;
  color: #fff;
}

.work_skills .work .primary,
.work_skills .work .secondary {
  position: relative;
}

.work_skills .work .primary h1 {
  font-size: 1.9rem;
  color: #fff;
  margin-bottom: var(--m-0-6);
}



.work_skills .work .primary p{
  margin-bottom: var(--m-1-8);
  font-size: 1.8rem;
  color: #fff;
  line-height: 2.5rem;
}

/* ///////SKILLS//////// */
.work_skills .skills ul li {
  position: relative;
  font-size: 1.9rem;
  line-height: 1.8rem;
  margin: var(--m-0-5);
  color: #fff;
  font-weight: 500;
}

.work_skills .skills ul li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 0.2rem;
  background: var(--bg3-color);
  animation: skills 8s linear infinite;
  animation-delay: calc(-2s * var(--i));
}

@keyframes skills {
  0% {
    width: 50%;
    filter: hue-rotate(180deg);
  }

  50% {
    width: 0;
  }

  100% {
    width: 50%;
    filter: hue-rotate(0);
  }
}

/* //////////////////USER DETAILS///////// */
.userDetails {
  position: relative;
  padding: var(--p-1-5) var(--p-2-5);
}

.userDetails.card {
  padding: 30px;
}

.userDetails .userName h1 {
  font-size: var(--xxxl-fs);
  text-decoration: underline;
}

.userDetails .userName {

  font-size: 16px;
}

.userDetails .userName .map {
  position: absolute;
  top: 2.5rem;
  left: 18.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userDetails .userName .map .ri {
  margin-right: var(--m-0-3);
  font-size: var(--m-fs);
}

.userDetails .userName .map span {
  font-size: var(--s-fs);
  color: #fff;
  font-weight: 700;
}

.userDetails .userName p {
  font-size: var(--m-fs);
  font-weight: 700;
  color: #fff;
  margin-bottom: var(--m-1-8);
}
.userDetails .userName p1 span{
  font-weight: 600;

}





/* ////////////////////////ABOUT////////////// */
.timeline_about {
  padding: var(--p-2-5);
}

.timeline_about .tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: var(--m-2-5);
}

.timeline_about .tabs ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.timeline_about .tabs ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: var(--m-2-5);
  padding-bottom: var(--p-0-8);
  cursor: pointer;
}

.timeline_about .tabs ul li span {
  font-size: 1.9rem;
  font-weight: 500;
}

.timeline_about .tabs ul li .ri {
  margin-right: var(--m-0-5);
}

.timeline_about .tabs ul .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #735ca8;
}

.timeline_about .contact_Info .heading,
.timeline_about .basic_info .heading
{
  font-size: 1.5  rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.timeline_about .contact_info ul,
.timeline_about .basic_info ul {
  margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li {
  display: flex;
  margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li h1,
.timeline_about .basic_info ul li h1 {
  font-weight: 500;
  font-size: 1.5rem;
  min-width: 12rem;
}

.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span {
  font-size: 1.5rem;
}

.timeline_about .contact_info ul .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span {
  color: #fff;
}
.basic_info .heading{
  padding-top: 1rem;
}